numpy==1.22.4
comet-ml==3.13.2
easydict
ipdb
lmdb==1.0.0
loguru
matplotlib
pillow
pytorch-lightning==1.5.5
scipy
smplx==0.1.28
tqdm
trimesh
opencv-python==4.5.3.56
scikit-image==0.18.1
pyrender==0.1.45
chumpy==0.70
torch==1.8.0
torchvision==0.9.0
torchaudio==0.8.0